<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/test.css">
    <title>Document</title>
</head>
<body>
    <!-- <ul>
        <li class="img">
            <img src="../images/service-img01@2x.jpg" alt="">
        </li>
        <li class="img">
            <img src="../images/service-img02@2x.jpg" alt="">
        </li>
        <li class="img">
            <img src="../images/sevice-img03@2x.jpg" alt="">
        </li>
    </ul> -->
    <div>
        aaaaa
    </div>
</body>
</html>