<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scall=1.0">
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">  
        <link rel="stylesheet" href="../CSS/stylesheet.css">
        <title>コーディング課題(中級編)</title>
    </head>
    <body>
        <!-- header -->
        <header>
            <div class="header">
                <div class="top">
                    <h1 class="header-title">
                        <a class="title-text" href="./">Cresta Design</a>
                    </h1>
                    <div class="header-wrapper">
                        <nav class="header-nav">
                            <ul class="nav-list">
                                <li class="nav-content">
                                    <a href="#concept">Concept</a>
                                </li>
                                <li class="nav-content">
                                    <a href="#service">Service</a>
                                </li>
                                <li class="nav-content">
                                    <a href="#works">Works</a>
                                </li>
                                <li class="nav-content">
                                  <a href="">Contact</a>  
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- <div class="fv-img">
                    <ul class="slider">
                        <li><img src="../images/fv-bgi_01@2x.jpg" alt=""></li>
                    </ul>
                </div> -->
                <div class="first-view">
                    <h2 class="fv-title">Design for Smile.</h2>
                    <p class="fv-sub-title">快適なオフィスをデザインする</p>
                </div>
            </div>
        </header>
        <main>
            <section class="concept">
                <div class="concept-title">CONCEPT</div>
                <div class="concept-sub-title">
                    <p class="concept-sub-title-coment">"働きたくなる空間"をデザインすることで<br>人々を幸せにする。</p>
                </div>
                <div class="concept-content">
                    <div class="coment">私たちは、オフィスに特化した空間デザイン専門としております。その理由は、「働きたくなる空間で仕事ができれば多くの人を幸せにできるのではないか」と考えるためです。そんな想いの株式会社Cresta Designだからこそできる空間デザインを提供させていただきます。</div>
                    <div class="concept-img">
                        <img src="../images/concept-image@2x.jpg" alt="">
                    </div>
                </div>
                <div class="concept-end-title">Our Concept</div>
            </section>
            <section class="works">
                <div class="works-title">Works</div>
                <div class="works-contents">
                    <ul class="works-list">
                        <li class="works-item">
                            <img class="works-item-img" src="../images/card-img01@2x.jpg" alt="">
                            <div class="works-img-coment">新規サイトを公開しました。今回のサイトは白と黒を基調にしたミニマルなデザインになっています。</div>
                        </li>
                        <li class="works-item">
                            <img class="works-item-img" src="../images/card-img02@2x.jpg" alt="">
                            <div class="works-img-coment">新規サイトを公開しました。今回のサイトは白と黒を基調にした</div>
                        </li>
                        <li class="works-item">
                            <img class="works-item-img" src="../images/card-img03@2x.jpg" alt="">
                            <div class="works-img-coment">新規サイトを公開しました。今回のサイトは白と黒を基調にしたミニマルなデザインになっています。</div>
                        </li>
                    </ul>
                </div>
                <div class="works-btn">
                    <a href="#" class="btn-text">View more</a>
                </div>
                <div class="works-end-title">Our Works</div>
            </section>
            <section class="service">
                <div class="service-title">Service</div>
                <div class="service-contents">
                    <ul>
                        <li class="service-item service-hearing ">
                            <div class="service-item-text">Hearing</div>
                        </li>
                        <li class="service-item service-planning">
                            <div class=" service-item-text">Plannig</div>
                        </li>
                        <li class="service-item service-direction">
                            <div class=" service-item-text">Direction</div>
                        </li>
                    </ul>
                </div>
                <div class="end-service-title">Our Service</div>
            </section>
            <section class="contact">
                <div class="contact-title">Contact</div>
                <div class="contact-text">お気軽にご相談ください。</div>
                <div class="contact-btn">
                    <a href="#" class="contact-btn-text">Contact</a>
                </div>
                <div class="end-contact-title">Contact us</div>
            </section>
            <footer>
                <div class="footer-text">©︎cresta.design all rights reserved</div>
            </footer>
        </main>
    </body>
</html>